<!DOCTYPE html>

<html lang="en-us">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>Mission to Mars</title>


</head>

<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

    <div class= "row grey-bg">
        <div class="col-12" style="padding:20px; background-color: lightslategrey; text-align: center;">
            <h1>Mission to Mars</h1>
            <a class="btn btn-light" href="/scrape" role="button">Scrape New Data</a>
        </div>
    </div>

    <div class= "row" style="margin:20px;">
        <div class="col-12" style="padding:20px;  text-align: left;">
            <h3>Latest Mars News</h3>
            <h5>{{data.news_title}}</h5>
            <p>{{data.news_p}}</p>
        </div>
    </div>

    <div class= "row" style="margin:20px;">
        <div class="col-8" style="padding:20px;  text-align: left;">
            <h3>Featured Mars Image</h3>
            <img src={{data.featured_image}}> 

        </div>
        <div class="col-4" style="padding:20px;  text-align: left;">
            <h3>Mars Facts</h3>
            {{ data.mars_facts | safe}}

        </div>
    </div>

    <div class= "row">
        <div class="col-12" style="padding:20px;  text-align: center;">
            <h3>Mars Hemispheres</h3>
            <hr>
        </div>
    </div>

    <div class = "row">
        {% for link in data.mars_hemispheres%}
        <div class="col-3 d-flex justify-content-center" >
            <div class="card" style="margin:20px;" >
                <img src="{{link.img_url}}">
                <h4 class="card-title text-center" style="margin:0px; padding:0px;">{{link.title}}</h4>
            </div>
        </div>    
        {%endfor%}
    </div>


</body>